---
const meta = {
    title: "Astro",
}
---

<footer>
    <p>&copy; {new Date().getFullYear()} {meta.title}</p>
    <p>
        <a href="{{ meta.github }}">GitHub</a>
        <a href="{{ meta.twitter }}">Twitter</a>
    </p>
</footer>