---

---

<header>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </nav>
</header>


<style>
    header {
        background-color: #333;
        color: white;
        padding: 1rem;
        position: fixed;
        inset-inline-start: 0;
        inset-block-start: 0;
        width: 100%;
        height: var(--nav-height);
        border-bottom: 1px solid var(--sl-color-gray-6);
        nav{
            display: flex;
            align-items: center;
        }
        a{
            color: white;
            text-decoration: none;
        }
    }
</style>